@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #777;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 0 15px;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  opacity: 0;
  z-index: -1;
}
.cover.active {
  z-index: 100;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-inner .logo {
  margin-right: 70px;
}
.header-inner .logo-img {
  padding: 23px 0;
}
.header-inner .menu {
  margin-right: 80px;
}
.header-inner .menu .navbar {
  padding: 38px 0;
  width: 650px;
}
.header-inner .menu .navbar .nav-item {
  display: inline-block;
  padding-right: 28px;
  padding-left: 20px;
}
.header-inner .menu .navbar .nav-item a {
  color: #fff;
  font-size: 16px;
}
.header-inner .menu .nav-icon {
  display: none;
}
.header-inner .option .navoption {
  padding: 38px 0 38px 12px;
}
.header-inner .option .navoption .nav-option {
  display: inline-block;
}
.header-inner .option .navoption .nav-option a {
  color: #fff;
  font-size: 16px;
}
.header-inner .option .navoption .nav-option .fa-shopping-basket {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 0 27px 0 27px;
}
.header-inner .option .navoption .search {
  margin-right: 23px;
}
.header-inner .option .navoption .user {
  margin-left: 22px;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.banner .banner-content {
  position: absolute;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .content {
  color: #fff;
  width: 525px;
}
.banner .content h1 {
  font-size: 60px;
  margin-top: 0;
}
.banner .content h2 {
  font-size: 40px;
  margin-top: -50px;
}
.banner .content p {
  margin-top: -10px;
  font-size: 14px;
}
.banner-btn {
  width: 170px;
  height: 50px;
  margin-top: 62px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.category-product-inner {
  display: flex;
  height: 500px;
  margin-top: -84px;
  position: relative;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  background-color: #fff;
}
.category-product .content {
  width: 390px;
  text-align: center;
  background-color: #fff;
}
.category-product .col .strength {
  height: 250px;
}
.category-product .icon .dumbells-icon {
  padding-top: 43px;
}
.category-product .icon .strength-icon {
  padding-top: 31px;
}
.category-product .icon .power-icon {
  padding-top: 25px;
}
.category-product .text {
  margin-top: 15px;
}
.category-product .text-title {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.category-product .text-summary {
  color: #777;
  font-size: 14px;
  font-weight: 400;
}
.top-selling {
  margin-top: 80px;
}
.top-selling-tab-bar {
  border-bottom: 1px solid #777;
  height: 58px;
}
.top-selling-tab-bar p {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: -16px;
  font-weight: bold;
  font-size: 18px;
}
.top-selling .top-sellers {
  margin-left: 17px;
}
.top-selling .top-sellers[tabindex]:focus {
  color: #FF0000;
  border-bottom: 2px solid #FF0000;
}
.top-selling .featured[tabindex]:focus {
  color: #FF0000;
  border-bottom: 2px solid #FF0000;
}
.top-selling .most-reviews:focus {
  color: #FF0000;
  border-bottom: 2px solid #FF0000;
}
.top-selling hr {
  width: 120px;
  border: 0.5px solid #FF0000;
  margin-left: 0;
}
.top-selling-product {
  margin-top: 41px;
}
.top-selling-product .top-selling-list-row1 {
  margin-bottom: 65px;
}
.top-selling-product .col {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}
.top-selling-product-img {
  padding-bottom: 18px;
}
.top-selling-product-img .product-icon {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 12px;
  right: 16px;
}
.top-selling-product-img .product-icon-link {
  padding: 8px 0;
}
.top-selling-product-img .product-icon-link .fas {
  display: none;
}
.top-selling-product-name {
  padding-left: 30px;
  font-size: 14px;
  font-weight: 400;
}
.top-selling-product-name a {
  color: #000;
}
.top-selling-product-price {
  padding-left: 30px;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.top-selling-product-price p {
  margin-top: 2px;
}
.top-selling-product .col-inner:hover {
  filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.2));
  background-color: #fff;
}
.top-selling-product .col-inner:hover .top-selling-product-img .product-icon-link .fas {
  display: block;
  border: 1px solid #ddd;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 34px;
  width: 34px;
  line-height: 34px;
}
.top-selling-product .col-inner:hover .top-selling-product-img .product-icon-link .fas:hover {
  background-color: #FF0000;
  color: #fff;
}
.client-review {
  margin-top: 105px;
}
.client-review-title {
  text-align: center;
}
.client-review-title h3 {
  margin-top: 0;
  font-size: 36px;
}
.client-review-user {
  text-align: center;
}
.client-review-user img {
  margin: auto;
  padding-top: 10px;
}
.client-review-user .user-comment {
  padding-top: 24px;
  width: 770px;
  margin: auto;
  font-size: 18px;
  color: #777;
}
.client-review-user .user-name {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 800;
}
.client-review-user .user-status {
  margin-top: -10px;
  font-size: 14px;
  color: #777;
}
.client-review-line {
  margin-top: 148px;
  border-bottom: 1px solid #777;
}
.brand {
  margin-top: 40px;
}
.brand .col {
  width: 16.66666667%;
  padding: 0 30px;
  box-sizing: border-box;
  line-height: 90px;
}
.brand .col-inner {
  text-align: center;
}
.footer {
  background-color: #222;
}
.footer-one {
  height: 353px;
  text-align: center;
}
.footer-one-logo img {
  margin-top: 100px;
}
.footer-one-content {
  margin: auto;
  width: 770px;
  margin-top: -10px;
}
.footer-one-content p {
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}
.footer-one-icon {
  margin: auto;
  width: 230px;
  display: flex;
}
.footer-one-icon a {
  padding: 0 22px;
  color: #777;
  font-size: 18px;
}
.footer-one-icon a i {
  margin-top: 30px;
}
.footer-one-icon a:hover {
  color: #fff;
}
.footer-one hr {
  margin-top: 54px;
}
.footer-two {
  border-top: 1px solid #777;
}
.footer-two .col {
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
  margin-top: 100px;
}
.footer-two .col .contact-row {
  display: flex;
  margin-top: -14px;
  margin-bottom: 5px;
}
.footer-two .col .contact-row .fas {
  padding-top: 16px;
  margin-right: 16px;
  color: #777;
  font-size: 14px;
}
.footer-two .col-inner h5 {
  margin-top: -30px;
  color: #fff;
  font-size: 18px;
}
.footer-two .col-inner p {
  color: #777;
  font-size: 14px;
}
.footer-two .col-inner .link {
  padding-bottom: 5px;
}
.footer-two .col-inner a:hover {
  color: #fff;
}
.footer-copyright {
  height: 50px;
  margin-top: 30px;
  text-align: center;
  background-color: #000;
}
.footer-copyright p {
  padding: 15px 0;
  color: #777;
  font-size: 14px;
}
@media all and (max-width: 1200px) {
  .header {
    height: 80px;
  }
  .header-inner .logo-img {
    height: 44px;
    padding: 18px 0;
  }
  .header-inner .menu .navbar {
    padding: 28px 20px;
    width: auto;
  }
  .header-inner .menu .navbar .nav-item {
    padding: 0 10px;
  }
  .header-inner .menu .navbar .nav-item a {
    font-size: 14px;
  }
  .header-inner .option .navoption {
    padding: 28px 10px;
  }
  .header-inner .option .navoption .nav-option a {
    font-size: 14px;
  }
  .banner .content {
    width: 460px;
  }
  .banner .content h1 {
    font-size: 50px;
  }
  .banner .content h2 {
    font-size: 35px;
    margin-top: -40px;
  }
  .banner .content p {
    font-size: 14px;
  }
  .category-product-inner {
    background: none;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
    height: auto;
  }
  .category-product-inner .col {
    display: flex;
  }
  .top-selling {
    margin-top: 40px;
  }
  .top-selling .col {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .top-selling-product-img {
    text-align: center;
  }
  .top-selling-product-name {
    text-align: center;
    padding: 0;
  }
  .top-selling-product-price {
    text-align: center;
    padding: 0;
  }
  .client-review-title h3 {
    font-size: 24px;
  }
  .client-review-user .user-comment {
    font-size: 14px;
  }
  .client-review-user .user-name {
    font-size: 14px;
    font-weight: 800;
  }
  .client-review-user .user-status {
    font-size: 12px;
  }
}
@media all and (max-width: 1024px) {
  .header {
    height: 70px;
  }
  .header-inner .logo {
    order: 1;
  }
  .header-inner .logo-img {
    height: 34px;
    padding: 18px 0;
  }
  .header-inner .menu {
    order: 0;
  }
  .header-inner .menu .nav-icon {
    display: block;
    color: #fff;
    padding: 18px 0;
  }
  .header-inner .menu .nav-icon .fa-bars {
    font-size: 35px;
  }
  .header-inner .menu .navbar {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    height: 40vh;
    width: 10vw;
    background-color: #000;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .header-inner .menu .navbar .nav-item {
    display: block;
    margin: 0;
    border-bottom: 1px solid #fff;
  }
  .header-inner .menu .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .header-inner .option {
    order: 3;
  }
  .header-inner .option .navoption {
    padding: 23px 10px;
  }
  .banner .content {
    width: 300px;
  }
  .banner .content h1 {
    font-size: 28px;
  }
  .banner .content h2 {
    font-size: 20px;
    margin-top: -20px;
  }
  .banner .content p {
    font-size: 13px;
  }
  .banner-btn {
    width: 120px;
    height: 40px;
    font-size: 12px;
    padding: 9px;
  }
  .category-product-inner {
    margin-top: -50px;
  }
  .client-review-user .user-comment {
    width: 600px;
  }
  .brand .col {
    width: 33%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .footer-two .col {
    width: 50%;
    box-sizing: 25px;
    padding: 0 15px;
  }
}
@media all and (max-width: 768px) {
  .header {
    height: 60px;
  }
  .header-inner .logo-img {
    padding: 13px 0;
  }
  .header-inner .menu .nav-icon {
    padding: 14px 0;
  }
  .header-inner .menu .navbar {
    height: 40vh;
    width: 12vw;
  }
  .header-inner .menu .navbar .nav-item a {
    font-size: 12px;
  }
  .header-inner .option .navoption {
    padding: 18px 10px;
  }
  .banner .content h1 {
    font-size: 20px;
  }
  .banner .content h2 {
    font-size: 15px;
    margin-top: -20px;
  }
  .banner .content p {
    font-size: 12px;
  }
  .banner-btn {
    width: 100px;
    height: 32px;
    padding: 6px;
  }
  .category-product-inner {
    margin-top: -45px;
  }
  .category-product-inner .col .picture {
    width: 50%;
  }
  .category-product-inner .col .content {
    width: 50%;
    height: auto;
  }
  .category-product .icon .dumbells-icon {
    padding-top: 20px;
    width: 20%;
  }
  .category-product .icon .strength-icon {
    padding-top: 14px;
    width: 15%;
  }
  .category-product .icon .power-icon {
    padding-top: 14px;
    width: 15%;
  }
  .category-product .text {
    margin-top: 16px;
  }
  .category-product .text-title {
    font-size: 16px;
  }
  .category-product .text-summary {
    font-size: 13px;
  }
  .top-selling {
    margin-top: 20px;
  }
  .top-selling-product-name {
    text-align: center;
    padding: 0;
  }
  .top-selling-product-price {
    text-align: center;
    padding: 0;
  }
  .client-review-user .user-comment {
    width: 500px;
  }
  .client-review-line {
    margin-top: 80px;
  }
  .client-review .slick-dots {
    bottom: 50px;
  }
  .client-review .slick-dots li button:before {
    font-size: 8px;
  }
  .footer-one-content {
    width: 100%;
  }
}
@media all and (max-width: 576px) {
  .header {
    height: 50px;
  }
  .header-inner .logo {
    margin-right: 30px;
  }
  .header-inner .logo-img {
    padding: 8px 0;
  }
  .header-inner .menu {
    margin-right: 30px;
  }
  .header-inner .menu .nav-icon {
    padding: 8px 0;
    font-size: 10px;
  }
  .header-inner .menu .navbar {
    height: 30vh;
    width: 14vw;
  }
  .header-inner .menu .navbar .nav-item a {
    font-size: 10px;
  }
  .header-inner .option .navoption {
    padding: 13px 10px;
  }
  .header-inner .option .navoption .nav-option a {
    font-size: 10px;
  }
  .header-inner .option .navoption .search {
    margin-right: 10px;
  }
  .header-inner .option .navoption .shopping .fa-shopping-basket {
    padding: 0 5px 0 5px;
  }
  .header-inner .option .navoption .user {
    margin-left: 10px;
  }
  .banner .banner-content {
    top: 55%;
  }
  .banner .content h1 {
    font-size: 15px;
  }
  .banner .content h2 {
    font-size: 13px;
    margin-top: -15px;
  }
  .banner-btn {
    width: 80px;
    height: 20px;
    padding: 3px;
    margin-top: -12px;
  }
  .category-product-inner {
    margin-top: -30px;
  }
  .category-product .text {
    margin-top: 10px;
  }
  .category-product .text-title {
    font-size: 14px;
    margin: 0;
  }
  .category-product .text-summary {
    font-size: 12px;
  }
  .top-selling {
    margin-top: 10px;
  }
  .top-selling .col {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .top-selling-tab-bar {
    height: 40px;
  }
  .top-selling-tab-bar p {
    font-size: 14px;
    margin-right: 15px;
  }
  .top-selling-product-name {
    font-size: 12px;
    font-weight: 400;
  }
  .top-selling-product-price {
    font-size: 12px;
    font-weight: 700;
  }
  .client-review-title h3 {
    font-size: 18px;
  }
  .client-review-user .user-comment {
    width: 350px;
  }
  .client-review-user .user-name {
    font-size: 12px;
    font-weight: 800;
  }
  .client-review-user .user-status {
    font-size: 11px;
  }
  .client-review .slick-dots {
    bottom: 30px;
  }
  .client-review-line {
    margin-top: 60px;
  }
  .brand .col {
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .footer-one-icon a i {
    margin-top: 20px;
  }
}
@media all and (max-width: 375px) {
  .header {
    height: 40px;
  }
  .header-inner .logo-img {
    height: 24px;
    padding: 8px 0;
  }
  .header-inner .menu .nav-icon {
    padding: 4px 0;
  }
  .header-inner .option .navoption {
    padding: 8px 10px;
  }
  .banner .content {
    width: 250px;
    line-height: 12px;
  }
  .banner .content h2 {
    margin-top: -10px;
  }
  .banner-btn {
    width: 60px;
    height: 14px;
    font-size: 8px;
    padding: 1px;
  }
  .category-product .text {
    margin-top: 6px;
  }
  .category-product .text-title {
    font-size: 12px;
  }
  .category-product .text-summary {
    display: none;
  }
  .top-selling p {
    font-size: 12px;
  }
  .client-review-line {
    margin-top: 40px;
  }
  .client-review .user-comment {
    width: 250px;
  }
  .client-review .slick-dots {
    bottom: 20px;
  }
  .client-review .slick-dots li button:before {
    font-size: 6px;
  }
  .footer-two .col {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 80px;
  }
}
/*# sourceMappingURL=style.css.map */