.transformer (@_scale) {
    transform: @_scale;
    -webkit-transform: @_scale;
    -ms-transform: @_scale;
    -o-transform: @_scale;
}

.transit (@_attr, @_sec) {
    transition: @_attr, @_sec;
    -webkit-transition: @_attr, @_sec;
    -ms-transition: @_attr, @_sec;
    -o-transition: @_attr, @_sec;
}