.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #222;
    opacity: 0;
    z-index: -1;
}
.cover.active {
    z-index: 100;
    .transit(all, .5s);
}
.header {
    height: 100px;
    background-color: @main-color-text-black;
    opacity: 0.65;
    &-inner {
        display: flex;
        height: 100px;
        .logo {
            margin-right: 70px;
            &-img {
                padding: 23px 0;
            }
        }
        .menu {
            margin-right: 100px;
            .navbar {
                padding: 38px 20px;
                .nav-item {
                    display: inline-block;
                    text-align: center; 
                    padding: 0 18px;
                    a {
                        color: @main-color-text-white;
                        font-size: @main-font-size-16px;
                    }
                }
            }
            .nav-icon {
                display: none;
            }
        }
        .option {
            .navoption {
                padding: 30px 10px;
                .nav-option {
                    display: inline-block;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    a {
                        color: @main-color-text-white;
                        font-size: @main-font-size-16px;
                    }
                    .fa-cart-plus {
                        border-right: 1px solid white;
                        border-left: 1px solid white;
                        padding: 0 15px 0 12px;
                    }
                }
            }
        }
    }
}