@media all and (max-width: 1200px) {
    .header {
        height: 80px;
        &-inner {
            .logo {
                &-img {
                    height: 44px;
                    padding: 18px 0;
                }
            }
            .menu {
                .navbar {
                    padding: 28px 20px;
                    width: auto;
                    .nav-item {
                        padding: 0 10px;
                        a {
                            font-size: @main-font-size-14px;
                        }
                    }
                }
            }
            .option {
                .navoption {
                    padding: 28px 10px;
                    .nav-option {
                        a {
                            font-size: @main-font-size-14px;
                        }
                    }
                }
            }
        }
    }
    .banner {
        .content {
            width: 460px;
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 35px;
                margin-top: 40px;
            }
            p {
                font-size: 14px;
                margin-top: -5px;
            }
        }
    }
    .category-product {
        &-inner {
            background: none;
            flex-direction: column;
            align-items: center;
            margin-top: -60px;
            height: auto;
            .col {
                display: flex;
            }
        }
        &-picture {
            width: 50%;
        }
    }
    .top-selling {
        margin-top: 40px;
        .col {
            width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        &-product-img {
            text-align: center;
        }
        &-product-name {
            text-align: center;
            padding: 0;
        }
        &-product-price {
            text-align: center;
            padding: 0;
        }
    }
    .client-review {
        &-title h3 {
            font-size: 24px;
        }
        &-user {
            .user-comment {
                font-size: @main-font-size-14px;
            }
            .user-name {
                font-size: @main-font-size-14px;
                font-weight: 800;
            }
            .user-status {
                font-size: 12px;
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .header {
        height: 70px;
        &-inner {
            .logo {
                &-img {
                    height: 34px;
                    padding: 18px 0;
                }
                order: 1;
            }
            .menu {
                order: 0;
                .nav-icon {
                    display: block;
                    color: @main-color-text-white;
                    padding: 18px 0;
                    .fa-bars {
                        font-size: 35px;
                    }
                }
                .navbar {
                    .transit(all, .5s);
                    .transformer(translateX(-110%));
                    position: fixed;
                    left: 0;
                    top: 0;
                    z-index: 999;
                    height: 40vh;
                    width: 10vw;
                    background-color: @main-color-text-black;
                    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
                    .nav-item {
                        display: block;
                        margin: 0;
                        border-bottom: 1px solid @main-color-text-white;
                    }
                }
                .active {
                    .transformer(translateX(0));
                }
            }
            .option {
                order: 3;
                .navoption {
                    padding: 23px 10px;
                }
            }
        }
    }
    .banner {
        height: 494.79px;
        line-height: 0;
        img {
            height: 494.79px;
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
        }
        .content {
            width: 300px;
            h1 {
                font-size: 28px;
            }
            h2 {
                font-size: 20px;
                margin-top: 25px;
            }
            p {
                font-size: 13px;
                margin-top: -10px;
            }
        }
        &-btn {
            width: 120px;
            height: 40px;
            font-size: 12px;
            padding: 20px;
        }
    }
    .category-product {
        &-inner {
            margin-top: -50px;
        }
    }
    .client-review {
        &-user {
            .user-comment {
                width: 600px;
            }
        }
    }
    .brand {
        .col {
            width: 33%;
            padding: 0 30px;
            box-sizing: border-box;
        }
    }
    .footer {
        &-two {
            .col {
                width     : 50%;
                box-sizing: 25px;
                padding   : 0 15px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .header {
        height: 60px;
        &-inner {
            .logo {
                &-img {
                    padding: 13px 0;
                }
            }
            .menu {
                .nav-icon {
                    padding: 14px 0;
                }
                .navbar {
                    height: 40vh;
                    width: 12vw;
                    .nav-item {
                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
            .option {
                .navoption {
                    padding: 18px 10px;
                }
            }
        }
    }
    .banner {
        .content {
            h1 {
                font-size: 20px;
            }
            h2 {
                font-size: 15px;
                margin-top: 20px;
            }
            p {
                font-size: 12px;
            }
        }
        &-btn {
            width: 100px;
            height: 32px;
            padding: 15px;
        }
    }
    .category-product {
        &-inner {
            margin-top: -45px;
            .col {
                .content {
                    width: 50%;
                    height: auto;
                }
            }
        }
        .icon {
            .dumbells-icon {
                padding-top: 20px;
                width: 20%;
            }
            .strength-icon {
                padding-top: 14px;
                width: 15%;
            }
            .power-icon {
                padding-top: 14px;
                width: 15%;
            }
        }
        .text {
        margin-top: 16px;
            &-title {
                font-size: @main-font-size-16px;
            }
            &-summary {              
                font-size: 13px;
            }
        }
    }
    .top-selling {
        margin-top: 20px;
        &-product-name {
            text-align: center;
            padding: 0;
        }
        &-product-price {
            text-align: center;
            padding: 0;
        }
    }
    .client-review {
        &-user {
            .user-comment {
                width: 500px;
            }
        }
        &-line {
            margin-top: 80px;
        }
        .slick-dots {
            bottom: 50px;
            li button:before {
                font-size: 8px;
            }
        }
    }
    .footer {
        &-one-content {
            width: 100%;
        }
    }
}

@media all and (max-width: 576px) {
    .header {
        height: 50px;
        &-inner {
            .logo {
                margin-right: 30px;
                &-img {
                    padding: 8px 0;
                }
            }
            .menu {
                margin-right: 30px;
                .nav-icon {
                    padding: 8px 0;
                    font-size: 10px;
                }
                .navbar {
                    height: 30vh;
                    width: 14vw;
                    .nav-item {
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
            .option {
                .navoption {
                    padding: 13px 10px;
                    .nav-option {
                        a {
                            font-size: 10px;
                        }
                    }
                    .search {
                        margin-right: 10px;
                    }
                    .shopping {
                        .fa-shopping-basket {
                            padding: 0 5px 0 5px;
                        }
                    }
                    .user {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .banner {
        .content {
            h1 {
                font-size: 15px;
            }
            h2 {
                font-size: 13px;
                margin-top: 15px;
            }
            p {
                line-height: 15px;
                margin-top: 5px;
            }
        }
        &-btn {
            width: 80px;
            height: 20px;
            padding: 6px;
        }
    }
    .category-product {
        &-inner {
            margin-top: -30px;
        }
        .text {
            margin-top: 10px;
            &-title {
                font-size: @main-font-size-14px;
                margin: 0;
            }
            &-summary {              
                display: none;
            }
        }
    }
    .top-selling {
        margin-top: 10px;
        .col {
                width: 100%;
                padding: 0 15px;
                box-sizing: border-box;
            }
        &-tab-bar {
            height: 40px;
        }
        &-tab-bar p {
            font-size: @main-font-size-14px;
            margin-right: 15px;
        }
        &-product {
            &-name {
                font-size: 12px;
                font-weight: 400;
            }
            &-price {
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
    .client-review {
        &-title h3 {
            font-size: @main-font-size-18px;
        }
        &-user {
            .user-comment {
                width: 350px;
            }
            .user-name {
                font-size: 12px;
                font-weight: 800;
            }
            .user-status {
                font-size: 11px;
            }
        }
        .slick-dots {
            bottom: 30px;
        }
        &-line {
            margin-top: 60px;
        }
    }
    .brand {
        .col {
            width: 50%;
            padding: 0 30px;
            box-sizing: border-box;
        }
    }
    .footer {
        &-one-icon {
            a i {
                margin-top: 20px;
            }
        }
    }
}
    
@media all and (max-width: 375px) {
    .header {
        height: 40px;
        &-inner {
            .logo {
                &-img {
                    height: 24px;
                    padding: 8px 0;
                }
            }
            .menu {
                .nav-icon {
                    padding: 4px 0;
                }
            }
            .option {
                .navoption {
                    padding: 8px 10px;
                }
            }
        }
    }
    .banner {
        .content {
            width: 250px;
            line-height: 12px;
            h2 {
                margin-top: -10px;
            }
        }
        &-btn {
            width: 60px;
            height: 14px;
            font-size: 8px;
            padding: 1px;
        }
    }
    .category-product {
        .text {
            margin-top: 6px;
            &-title {
                font-size: 12px;
            }
        }
    }
    .top-selling {
        p {
            font-size: 12px;
        }
    }
    .client-review {
        &-line {
            margin-top: 40px;
        }
        .user-comment {
            width: 250px;
        }
        .slick-dots {
            bottom: 20px;
            li button:before {
                font-size: 6px;
            }
        }
    }
    .footer {
        &-two {
            .col {
                width     : 100%;
                box-sizing: border-box;
                padding   : 0 15px;
                margin-top: 80px;
            }
        }
    }
}