@media all and (max-width: 1200px) {
    .header {
        height: 80px;
        &-inner {
            .logo {
                &-img {
                    height: 44px;
                    padding: 18px 0;
                }
            }
            .menu {
                display: none;
            }
            .option {
                .navoption {
                    padding: 20px 10px;
                }
            }
        }
    }
    .banner {
        &-image {
            height: 850px;
        }
        .content {
            margin-top: -630px;
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 35px;
                margin-top: -20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .category-product {
        margin-top: -177px;
    }

    .client-review {
        &-title h3 {
            font-size: 24px;
        }
        &-user {
            .user-comment {
                font-size: @main-font-size-14px;
            }
            .user-name {
                font-size: @main-font-size-14px;
                font-weight: 800;
            }
            .user-status {
                font-size: 12px;
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .header {
        height: 70px;
        &-inner {
            .logo {
                &-img {
                    height: 34px;
                    padding: 18px 0;
                }
            }
            .option {
                .navoption {
                    padding: 15px 10px;
                }
            }
        }
    }
    .banner {
        &-image {
            height: 750px;
        }
        .content {
            margin-top: -530px;
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 30px;
                margin-top: -20px;
            }
            p {
                font-size: 12px;
            }
        }
        &-btn {
            width: 120px;
            height: 40px;
            font-size: 12px;
            padding: 9px;
        }
    }
    .category-product {
        margin-top: -277px;
        .text {
            padding-top: 30px;
            &-title {
                font-size: @main-font-size-14px;
            }
            &-summary {              
                font-size: 12px
            }
        }
    }
    .top-selling {
        .col {
            width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        &-product-name {
            text-align: center;
            padding: 0;
        }
        &-product-price {
            text-align: center;
            padding: 0;
        }
    }
    .brand {
        .col {
            width: 33%;
            padding: 0 30px;
            box-sizing: border-box;
        }
    }
    .footer {
        &-one-icon { 
            margin-left: 40%;
        }
        &-two {
            .col {
                width     : 50%;
                box-sizing: 25px;
                padding   : 0 15px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .header {
        height: 60px;
        &-inner {
            .logo {
                &-img {
                    padding: 13px 0;
                }
            }
            .option {
                .navoption {
                    padding: 10px 10px;
                }
            }
        }
    }
    .banner {
        &-image {
            height: 650px;
        }
        .content {
            margin-top: -470px;
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 20px;
                margin-top: -20px;
            }
            p {
                font-size: 10px;
            }
        }
    }
    .category-product {
        margin-top: -377px;
        .col {
            width: 100%;
        }
    }
    .top-selling {
        margin-top: 950px;
        &-product-name {
            text-align: center;
            padding: 0;
        }
        &-product-price {
            text-align: center;
            padding: 0;
        }
    }
    .client-review {
        &-line {
            margin-top: 80px;
        }
    }
    .footer {
        &-one-content {
            width: 100%;
            p {
                font-size: 12px;
            }
        }
        &-one-icon { 
            margin-top: 20px;
            margin-left: 37%;
        }
        &-two {
            .col {
                &-inner p {
                    font-size: 12px;
                }
            }
        }
        &-copyright p {
            font-size: 12px;
        }
    }
}

@media all and (max-width: 576px) {
    .header {
        height: 50px;
        &-inner {
            .logo {
                &-img {
                    padding: 8px 0;
                }
            }
            .menu {
                display: none;
            }
            .option {
                .navoption {
                    padding: 5px 10px;
                }
            }
        }
    }
    .banner {
        &-image {
            height: 550px;
        }
        .content {
            margin-top: -390px;
            h1 {
                font-size: 25px;
            }
            h2 {
                font-size: 15px;
                margin-top: -20px;
            }
            p {
                font-size: 8px;
            }
        }
        &-btn {
            width: 80px;
            height: 20px;
            font-size: 8px;
            padding: 3px;
        }
    }
    .category-product {
        margin-top: -477px;
    }
    .top-selling {
        .col {
                width: 100%;
                padding: 0 15px;
                box-sizing: border-box;
            }
        &-tab-bar p {
            font-size: small;
        }
        &-product {
            &-name {
                font-size: 12px;
                font-weight: 400;
            }
            &-price {
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
    .client-review {
        &-title h3 {
            font-size: @main-font-size-18px;
        }
        &-user {
            .user-comment {
                font-size: 10px;
            }
            .user-name {
                font-size: 10px;
                font-weight: 800;
            }
            .user-status {
                font-size: 8px;
            }
        }
        &-line {
            margin-top: 60px;
        }
    }
    .brand {
        .col {
            width: 50%;
            padding: 0 30px;
            box-sizing: border-box;
        }
    }
    .footer {
        &-one-icon { 
            margin-top: -7px;
            margin-left: 31%;
        }
    }
}
    
@media all and (max-width: 375px) {
    .header {
        height: 40px;
        &-inner {
            .logo {
                &-img {
                    height: 24px;
                    padding: 8px 0;
                }
            }
            .menu {
                display: none;
            }
            .option {
                .navoption {
                    padding: 5px 10px;
                }
            }
        }
    }
    .banner {
        &-image {
            height: 450px;
        }
        .content {
            margin-top: -230px;
            h1 {
                font-size: 15px;
            }
            h2 {
                font-size: 10px;
                margin-top: -20px;
            }
            p {
                font-size: 6px;
            }
        }
    }
    .category-product {
        margin-top: -577px;
    }
    .top-selling {
        p {
            font-size: small;
        }
    }
    .client-review {
        &-line {
            margin-top: 40px;
        }
    }
    .footer {
        &-one-icon { 
            margin-top: -10px;
            margin-left: 27%;
        }
        &-two {
            .col {
                width     : 100%;
                box-sizing: border-box;
                padding   : 0 15px;
                margin-top: 80px;
            }
        }
    }
}