//Banner
.banner {
    position: relative;
    img {
        width: 100%; 
    }
    .banner-content {
        position: absolute;
        top: 48.5%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .content {
        color: @main-color-text-white;
        width: 525px;
        h1 {
            font-size: 60px;
            margin-top: 0;
        }
        h2 {
            font-size: 40px;
            margin-top: -50px;
        }
        p {
            margin-top: -10px;
            font-size: 14px;
        }      
    }
    &-btn {
        width: 170px;
        height: 50px;
        margin-top: 62px;
        font-size: 14px;
        color: @main-color-text-white;
        text-align: center;
        text-transform: uppercase;
        padding: 12px;
        border: 1px solid @main-color-text-white;
        box-sizing: border-box;
    }
}

// Category Product
.category-product {
    &-inner {
        display: flex;
        height: 500px;
        margin-top: -84px;
        position: relative;
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
        background-color: @main-color-text-white;
    }
}
.category-product .content {
    width: 390px;
    text-align: center;
    background-color :@main-color-text-white;
}
.category-product {
    .col {
        .strength {
            height: 250px;
        }
    }
}
.category-product .icon {
    .dumbells-icon {
        padding-top: 43px;
    }
    .strength-icon {
        padding-top: 31px;
    }
    .power-icon {
        padding-top: 25px;
    }
}
.category-product .text {
    margin-top: 15px;
    &-title {
        color: @main-color-text-black;
        font-weight: 700;
        font-size: @main-font-size-18px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &-summary {
        color: @main-color-text-gray;
        font-size: @main-font-size-14px;
        font-weight: 400;
    }
}

// Top Selling
.top-selling {
    margin-top: 80px;
    &-tab-bar {
        border-bottom: 1px solid @main-color-text-gray;
        height: 58px;
    }
    &-tab-bar p {
        display: inline-block;
        margin-right: 30px;
        margin-bottom: -16px;
        font-weight: bold;
        font-size: @main-font-size-18px;
    }
    .top-sellers {
        margin-left: 17px;
    }
    .top-sellers[tabindex]:focus {
        color:@main-color-text-red;
        border-bottom: 2px solid @main-color-text-red;
    }
    .featured[tabindex]:focus {
        color:@main-color-text-red;
        border-bottom: 2px solid @main-color-text-red;
    }
    .most-reviews:focus{
        color: @main-color-text-red ;
        border-bottom: 2px solid @main-color-text-red;            
    }
}
.top-selling hr {
    width: 120px;
    border: 0.5px solid @main-color-text-red;
    margin-left: 0;
}
.top-selling {
    &-product {
        margin-top: 41px;
        .top-selling-list-row1 {
            margin-bottom: 65px;
        }
        .col {
            width: 25%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        &-img {
            padding-bottom: 18px;
            .product-icon {
                display: flex;
                flex-direction: column;
                position: absolute;
                text-align: center;
                top: 12px;
                right: 16px;
                &-link {
                    padding: 8px 0;
                    .fas {
                        display: none;
                    }
                }
            }
        }
        &-name {
            padding-left: 30px;
            font-size: @main-font-size-14px;
            font-weight: 400;
            a {
                color: @main-color-text-black;
            }
        }
        &-price {
            padding-left: 30px;
            font-size: @main-font-size-14px;
            color: @main-color-text-black;
            font-weight: 700;
            p {
                margin-top: 2px;
            }
        }
        .col-inner:hover {
            filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.2));
            background-color: @main-color-text-white;
           .top-selling-product-img {
               .product-icon {
                   &-link {
                    .fas {
                        display: block;
                        border: 1px solid #ddd;
                        border-top-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        height: 34px;
                        width: 34px;
                        line-height: 34px;
                    }
                    .fas:hover {
                        background-color: @main-color-text-red;
                        color: @main-color-text-white;
                    }
                   }
               }
           }
        }
    }
}

// Client Review
.client-review {
    margin-top: 105px;
    &-title {
        text-align: center;
        h3 {
            margin-top: 0;
            font-size: 36px;
        }
    }
    &-user {
        text-align: center;
        img {
            margin: auto;
            padding-top: 10px;
        }
        .user-comment {
            padding-top: 24px;
            width: 770px;
            margin: auto;
            font-size: @main-font-size-18px;
            color: @main-color-text-gray;
        }
        .user-name {
            margin-top: 30px;
            font-size: @main-font-size-18px;
            font-weight: 800;
        }
        .user-status {
            margin-top: -10px;
            font-size: @main-font-size-14px;
            color: @main-color-text-gray;
        }
    }
    &-line {
        margin-top: 148px;
        border-bottom: 1px solid @main-color-text-gray;
    }
}
// Brand
.brand {
    margin-top: 40px;
    .col {
        width: 16.666666666667%;
        padding: 0 30px;
        box-sizing: border-box;
        line-height: 90px;
        &-inner {
            text-align: center;
        }
    }
}